[push]
	default = current
[url "ssh://"]
        insteadOf = git://
[user]
	name = Hagai Kariti
	email = hagai@riseup.co.il

[merge]
    tool = vimdiff
	ff = only
[alias]
	pushf = push --force-with-lease
[pull]
	ff = only
